Repository 42ft-transcendence/transcendence, pull requests merged in 2023-09, with the labels that each got.

#106 [Feat] navbar에 chat noti 추가
  frontend/react-app/src/components/common/navBar/container.tsx
  frontend/react-app/src/components/common/navBar/index.styled.ts
Labels: ⚡️ Simple, ✨ Feature, 🖥️ Frontend

#100 Feat: elo 레이팅 시스템 추가 #26
  backend/nestjs-app/src/game/game.gateway.ts
  backend/nestjs-app/src/match_history/history.service.ts
Labels: ✨ Feature, 🖥️ Frontend

#110 [Feature] 채널 초대기능 구현 및 enum 수정
  backend/nestjs-app/src/chatting/chatting.gateway.ts
  backend/nestjs-app/src/chatting/chatting.service.ts
  backend/nestjs-app/src/chatting/entities/chatchannel.entity.ts
  backend/nestjs-app/src/chatting/repository/chatchannel.repository.ts
  backend/nestjs-app/src/game/game.data.ts
  backend/nestjs-app/src/util.ts
Labels: ✨ Feature, 🗄️ Backend

#114 [Feat] 게임 맵 추가
  frontend/react-app/src/assets/maps/mapDessert.svg
  frontend/react-app/src/assets/maps/mapJungle.svg
  frontend/react-app/src/assets/maps/mapNormal.svg
  frontend/react-app/src/components/common/sideBar/gameSideBar/index.tsx
  frontend/react-app/src/components/modal/game/maps/index.styled.ts
  frontend/react-app/src/components/modal/game/maps/normal/index.styled.ts
  frontend/react-app/src/components/modal/game/maps/normal/index.tsx
  frontend/react-app/src/recoil/atoms/game/index.ts
  frontend/react-app/src/types/game.type.ts
Labels: 🖥️ Frontend

#112 [Feature] 게임엔진 구현
  backend/nestjs-app/src/game/game.data.ts
  backend/nestjs-app/src/game/game.engine.ts
  backend/nestjs-app/src/game/game.gateway.ts
Labels: ✨ Feature, 🗄️ Backend

#117 Feat/#90/2fa
  backend/nestjs-app/src/users/users.controller.ts
  frontend/react-app/src/components/common/sideBar/profileSideBar/index.tsx
  frontend/react-app/src/components/modal/auth/secondAuthActivateModal/index.styled.ts
  frontend/react-app/src/components/modal/auth/secondAuthActivateModal/index.tsx
  frontend/react-app/src/components/modal/auth/secondAuthDeactivateModal/index.styled.ts
  frontend/react-app/src/components/modal/auth/secondAuthDeactivateModal/index.tsx
  frontend/react-app/src/pages/auth/index.tsx
  frontend/react-app/src/recoil/atoms/modal/index.ts
Labels: ✨ Feature, 🖥️ Frontend

#125 Feat: 채팅채널 비밀번호에 대한 해싱 알고리즘 적용#65
  backend/nestjs-app/src/chatting/chatting.gateway.ts
  frontend/react-app/src/components/modal/channel/channelEditModal/index.tsx
Labels: ✨ Feature, 🗄️ Backend

#132 [Feat] front chatting 남은 기능 추가
  frontend/react-app/src/components/chat/chatInput/index.tsx
  frontend/react-app/src/components/chat/chatList/index.tsx
  frontend/react-app/src/components/modal/profile/container.tsx
  frontend/react-app/src/pages/channel/container.tsx
  frontend/react-app/src/pages/channel/view.tsx
  frontend/react-app/src/pages/directMessage/container.tsx
  frontend/react-app/src/pages/directMessage/view.tsx
Labels: ✨ Feature, 🖥️ Frontend

#134 Feat/make game room
  backend/nestjs-app/src/game/game.gateway.ts
  frontend/react-app/src/components/modal/game/gameAlertModal/index.tsx
  frontend/react-app/src/components/modal/game/gameCreateModal.tsx
  frontend/react-app/src/components/modal/game/gameEnterModal/index.tsx
  frontend/react-app/src/hooks/useGameSocket/index.tsx
  frontend/react-app/src/pages/game/container.tsx
  frontend/react-app/src/pages/game/index.styled.ts
  frontend/react-app/src/pages/game/index.tsx
  frontend/react-app/src/recoil/atoms/game/index.ts
  frontend/react-app/src/types/game.type.ts
  frontend/react-app/src/types/index.ts
  package.json
Labels: ✨ Feature, 🖥️ Frontend

#135 Feat/chanwjeo
  backend/nestjs-app/src/chatting/chatting.gateway.ts
  backend/nestjs-app/src/match_history/history.service.ts
  backend/nestjs-app/src/participants/participants.service.ts
  frontend/react-app/src/assets/logos/ccpp_logo.png
  frontend/react-app/src/assets/logos/ccpp_mini_logo.png
  frontend/react-app/src/components/common/sideBar/profileSideBar/index.tsx
  frontend/react-app/src/components/inputBox/index.styled.ts
  frontend/react-app/src/components/modal/profile/changeNickname/index.styled.ts
  frontend/react-app/src/components/modal/profile/changeNickname/index.tsx
  frontend/react-app/src/pages/profile/container.tsx
  frontend/react-app/src/pages/profile/index.styled.ts
  frontend/react-app/src/pages/profile/index.tsx
  frontend/react-app/src/pages/userList/index.styled.ts
  frontend/react-app/src/pages/userList/index.tsx
  frontend/react-app/src/recoil/atoms/modal/index.ts
  frontend/react-app/src/styles/GlobalStyle.tsx
Labels: 🔧 Fix, 🖥️ Frontend

#140 [Feat] 랭킹전 매칭 구현
  backend/nestjs-app/package-lock.json
  backend/nestjs-app/package.json
  backend/nestjs-app/src/game/game.gateway.ts
  backend/nestjs-app/src/game/game.service.ts
  frontend/react-app/jest.config.ts
  frontend/react-app/src/components/common/sideBar/gameListSideBar/index.tsx
  frontend/react-app/src/components/common/sideBar/gameSideBar/index.styled.ts
  frontend/react-app/src/components/common/sideBar/gameSideBar/index.tsx
  frontend/react-app/src/components/modal/game/rankGameExitModal/index.styled.ts
  frontend/react-app/src/components/modal/game/rankGameExitModal/index.tsx
  frontend/react-app/src/components/modal/game/rankGameWatingModal/index.styled.ts
  frontend/react-app/src/components/modal/game/rankGameWatingModal/index.tsx
  frontend/react-app/src/hooks/useGameSocket/index.tsx
  frontend/react-app/src/pages/game/index.tsx
  frontend/react-app/src/types/game.type.ts
Labels: ✨ Feature, 💻 Developing, 🖥️ Frontend, 🗄️ Backend

#141 [Feat]소켓 연결, 끊김 구현 #138
  backend/nestjs-app/src/chatting/chatting.gateway.ts
  backend/nestjs-app/src/game/game.gateway.ts
Labels: ✨ Feature, 🗄️ Backend

#143 [Feat] 랭킹전 구현 완료
  backend/nestjs-app/src/chatting/chatting.gateway.ts
  backend/nestjs-app/src/game/game.gateway.ts
  backend/nestjs-app/src/users/repository/user.repository.ts
  backend/nestjs-app/src/users/users.service.ts
  frontend/react-app/src/assets/maps/mapNormal.svg
  frontend/react-app/src/components/buttons/index.tsx
  frontend/react-app/src/components/common/navBar/container.tsx
  frontend/react-app/src/components/common/navBar/index.tsx
  frontend/react-app/src/components/common/sideBar/gameListSideBar/index.tsx
  frontend/react-app/src/components/common/sideBar/gameSideBar/index.tsx
  frontend/react-app/src/components/common/sideBar/profileSideBar/index.tsx
  frontend/react-app/src/components/modal/game/MapModal/index.styled.ts
  frontend/react-app/src/components/modal/game/MapModal/index.tsx
  frontend/react-app/src/components/modal/game/maps/index.styled.ts
  frontend/react-app/src/components/modal/game/maps/normal/index.styled.ts
  frontend/react-app/src/components/modal/game/maps/normal/index.tsx
  frontend/react-app/src/components/modal/game/pongGame/pongGame.tsx
  frontend/react-app/src/components/modal/game/rankGameExitModal/index.tsx
  frontend/react-app/src/components/modal/game/rankGameWatingModal/index.tsx
  frontend/react-app/src/components/modal/login/firstLoginModal/index.styled.ts
  frontend/react-app/src/components/modal/login/firstLoginModal/index.tsx
  frontend/react-app/src/hooks/useGameSocket/index.tsx
  frontend/react-app/src/hooks/useInitializeState/index.tsx
  frontend/react-app/src/pages/game/container.tsx
  frontend/react-app/src/pages/game/index.tsx
  frontend/react-app/src/pages/login/index.tsx
  frontend/react-app/src/pages/tempHome/index.tsx
  frontend/react-app/src/recoil/atoms/modal/index.ts
  frontend/react-app/src/router/index.tsx
  frontend/react-app/src/styles/GlobalStyle.tsx
  frontend/react-app/src/types/index.ts
  frontend/react-app/src/types/response.type.ts
Labels: ✨ Feature, 💻 Developing, 🖥️ Frontend, 🗄️ Backend

#146 Feat/#145/match history update
  backend/nestjs-app/src/game/game.gateway.ts
  backend/nestjs-app/src/match_history/dto/history.dto.ts
  backend/nestjs-app/src/match_history/entities/match_history.entity.ts
  backend/nestjs-app/src/match_history/history.controller.ts
  backend/nestjs-app/src/match_history/history.service.ts
  backend/nestjs-app/src/match_history/repository/history.repository.ts
Labels: ✅ Done, ✨ Feature, 🗄️ Backend

#150 [Feat] 더미 전적 생성 기능 추가
  backend/nestjs-app/src/game/game.controller.ts
  backend/nestjs-app/src/game/game.gateway.ts
  backend/nestjs-app/src/match_history/dto/history.dto.ts
  backend/nestjs-app/src/match_history/entities/match_history.entity.ts
  backend/nestjs-app/src/match_history/history.controller.ts
  backend/nestjs-app/src/match_history/history.service.ts
  backend/nestjs-app/src/match_history/repository/history.repository.ts
  backend/nestjs-app/src/users/repository/user.repository.ts
  backend/nestjs-app/src/users/users.service.ts
  frontend/react-app/src/api/game.ts
  frontend/react-app/src/components/common/sideBar/userListSideBar/index.tsx
  frontend/react-app/src/pages/profile/container.tsx
  frontend/react-app/src/pages/profile/index.tsx
  frontend/react-app/src/recoil/atoms/game/createDummyHistory.ts
Labels: ✅ Done, ✨ Feature, 🗄️ Backend

#151 [Feat] 매치 전적 생성 기능 구현
  backend/nestjs-app/src/game/game.controller.ts
  backend/nestjs-app/src/game/game.gateway.ts
  backend/nestjs-app/src/match_history/dto/history.dto.ts
  backend/nestjs-app/src/match_history/entities/match_history.entity.ts
  backend/nestjs-app/src/match_history/history.controller.ts
  backend/nestjs-app/src/match_history/history.service.ts
  backend/nestjs-app/src/match_history/repository/history.repository.ts
  backend/nestjs-app/src/users/repository/user.repository.ts
  backend/nestjs-app/src/users/users.service.ts
  frontend/react-app/src/api/game.ts
  frontend/react-app/src/components/common/sideBar/userListSideBar/index.tsx
  frontend/react-app/src/components/modal/game/MapModal/index.tsx
  frontend/react-app/src/hooks/useInitializeState/index.tsx
  frontend/react-app/src/pages/profile/container.tsx
  frontend/react-app/src/pages/profile/index.styled.ts
  frontend/react-app/src/pages/profile/index.tsx
  frontend/react-app/src/recoil/atoms/common/game.ts
  frontend/react-app/src/recoil/atoms/game/createDummyHistory.ts
  frontend/react-app/src/recoil/atoms/game/index.ts
  frontend/react-app/src/types/game.type.ts
Labels: ✅ Done, ✨ Feature, 🔧 Fix, 🖥️ Frontend, 🗄️ Backend

#156 [Feat] 폰트, 라우팅, chatting 소켓 반환형
  backend/nestjs-app/src/chatting/chatting.gateway.ts
  frontend/react-app/index.html
  frontend/react-app/src/components/modal/auth/secondAuthActivateModal/index.styled.ts
  frontend/react-app/src/pages/auth/index.styled.ts
  frontend/react-app/src/router/index.tsx
  frontend/react-app/src/styles/GlobalStyle.tsx
Labels: ⚡️ Simple, ✨ Feature, 🖥️ Frontend, 🗄️ Backend

#158 [Fix] 프로필 모달 수정
  frontend/react-app/src/components/modal/profile/container.tsx
Labels: ✅ Done, 🔧 Fix, 🖥️ Frontend

#164 [Fix] href로 페이지 이동 수정
  frontend/react-app/src/components/common/navBar/container.tsx
  frontend/react-app/src/components/modal/profile/container.tsx
  frontend/react-app/src/pages/profile/index.tsx
Labels: ⚡️ Simple, 🔧 Fix, 🖥️ Frontend

#167 [Feat] 페이지 이동 전에 loader에서 인증 정보 확인
  frontend/react-app/src/router/PrivateRoute.tsx
  frontend/react-app/src/router/index.tsx
  frontend/react-app/src/router/loaders/authorization.loader.ts
Labels: ⚡️ Simple, ✨ Feature, 🖥️ Frontend

#168 [Refactor] 게임 중간 PR
  backend/nestjs-app/src/game/game.engine.ts
  backend/nestjs-app/src/game/game.gateway.ts
  frontend/react-app/src/components/common/navBar/container.tsx
  frontend/react-app/src/components/common/navBar/index.tsx
  frontend/react-app/src/components/common/sideBar/gameSideBar/index.tsx
  frontend/react-app/src/components/modal/game/BattleActionModal/index.tsx
  frontend/react-app/src/components/modal/game/MapModal/index.tsx
  frontend/react-app/src/components/modal/game/pongGame/pongGame.tsx
  frontend/react-app/src/components/modal/profile/container.tsx
  frontend/react-app/src/hooks/useGameSocket/index.tsx
  frontend/react-app/src/hooks/useInitializeState/index.tsx
  frontend/react-app/src/pages/game/container.tsx
  frontend/react-app/src/pages/game/index.tsx
  frontend/react-app/src/pages/gameList/container.tsx
  frontend/react-app/src/pages/userList/container.tsx
Labels: 💻 Developing, 🔧 Fix, 🖥️ Frontend, 🗄️ Backend

#172 채널 관련 에러사항 및 Makefile 수정
  Makefile
  backend/nestjs-app/src/chatting/chatting.gateway.ts
  backend/nestjs-app/src/chatting/repository/chatchannel.repository.ts
  frontend/react-app/src/components/common/sideBar/chattingSideBar/container.tsx
  frontend/react-app/src/hooks/useChatSocket/index.ts
  frontend/react-app/src/pages/channel/container.tsx
  frontend/react-app/src/pages/directMessage/container.tsx
Labels: ⚙ Setting, ⚡️ Simple, 🔧 Fix, 🖥️ Frontend

#177 [Refactor] user list 의존자료 개선, search 관련 공통 컴포넌트 사용
  frontend/react-app/src/components/chat/chatListItem/index.tsx
  frontend/react-app/src/components/common/search/channelSearchItem/index.styled.ts
  frontend/react-app/src/components/common/search/channelSearchItem/index.tsx
  frontend/react-app/src/components/common/search/gameRoomCard/index.styled.ts
  frontend/react-app/src/components/common/search/gameRoomCard/index.tsx
  frontend/react-app/src/components/common/search/searchBar/index.styled.ts
  frontend/react-app/src/components/common/search/searchBar/index.tsx
  frontend/react-app/src/components/common/search/searchList/index.styled.ts
  frontend/react-app/src/components/common/search/searchList/index.tsx
  frontend/react-app/src/components/common/search/userCard/index.styled.ts
  frontend/react-app/src/components/common/search/userCard/index.tsx
  frontend/react-app/src/components/common/searchBar/index.styled.ts
  frontend/react-app/src/components/common/searchBar/index.tsx
  frontend/react-app/src/components/common/searchList/index.tsx
  frontend/react-app/src/components/common/sideBar/chattingSideBar/container.tsx
  frontend/react-app/src/components/modal/profile/container.tsx
  frontend/react-app/src/hooks/useChatSocket/index.ts
  frontend/react-app/src/pages/channel/container.tsx
  frontend/react-app/src/pages/channel/view.tsx
  frontend/react-app/src/pages/channelList/container.tsx
  frontend/react-app/src/pages/channelList/view.tsx
  frontend/react-app/src/pages/directMessage/container.tsx
  frontend/react-app/src/pages/directMessage/view.tsx
  frontend/react-app/src/pages/gameList/container.tsx
  frontend/react-app/src/pages/ranking/index.tsx
  frontend/react-app/src/pages/userList/index.styled.ts
  frontend/react-app/src/pages/userList/index.tsx
  frontend/react-app/src/recoil/atoms/common/index.ts
  frontend/react-app/src/recoil/selectors/channel/index.ts
  frontend/react-app/src/recoil/selectors/directMessage/index.ts
  frontend/react-app/src/types/chat.type.ts
Labels: ✨ Feature, 👀 Review Needed, 💊 Refactor

#179 [Fix] 게임 오류 수정
  backend/nestjs-app/src/game/game.controller.ts
  backend/nestjs-app/src/game/game.gateway.ts
  backend/nestjs-app/src/game/game.module.ts
  backend/nestjs-app/src/game/game.room.ts
  backend/nestjs-app/src/game/game.service.ts
  frontend/react-app/src/components/common/navBar/index.tsx
  frontend/react-app/src/components/common/search/gameRoomCard/index.styled.ts
  frontend/react-app/src/components/common/search/gameRoomCard/index.tsx
  frontend/react-app/src/components/common/sideBar/gameSideBar/index.tsx
  frontend/react-app/src/components/modal/game/MapModal/index.tsx
  frontend/react-app/src/components/modal/game/gameCreateModal.tsx
  frontend/react-app/src/components/modal/game/index.styled.ts
  frontend/react-app/src/components/modal/game/pongGame/pongGame.tsx
  frontend/react-app/src/components/modal/game/rankGameWatingModal/index.tsx
  frontend/react-app/src/pages/game/container.tsx
  frontend/react-app/src/pages/game/index.tsx
  frontend/react-app/src/pages/gameList/container.tsx
  frontend/react-app/src/recoil/atoms/common/data.ts
Labels: 💊 Refactor, 🔧 Fix, 🖥️ Frontend, 🗄️ Backend

#182 [Fix] 채팅, 로그인 관련 잘못된 동작 수정
  backend/nestjs-app/src/chatting/chatting.gateway.ts
  frontend/react-app/src/hooks/useChatSocket/index.ts
  frontend/react-app/src/recoil/selectors/channel/index.ts
Labels: ⚡️ Simple, 🖥️ Frontend, 🗄️ Backend

#183 [Fix] 게임 방 입장할 때 이름 두 번 뜨는 거 수정
  frontend/react-app/src/pages/game/container.tsx
Labels: ⚡️ Simple, 🖥️ Frontend

#191 [Feat] 채팅 화면 UI 추가
  frontend/react-app/src/assets/icons/DetectiveDark.svg
  frontend/react-app/src/assets/icons/HashDark.svg
  frontend/react-app/src/assets/icons/LockKeyDark.svg
  frontend/react-app/src/components/channel/channelListItem/index.styled.ts
  frontend/react-app/src/components/channel/channelListItem/index.tsx
  frontend/react-app/src/components/channel/participantListItem/index.styled.ts
  frontend/react-app/src/components/channel/participantListItem/index.tsx
  frontend/react-app/src/components/chat/chatList/index.tsx
  frontend/react-app/src/components/chat/topBar/index.styled.ts
  frontend/react-app/src/components/chat/topBar/index.tsx
Labels: ⚡️ Simple, ✨ Feature, 🖥️ Frontend

#193 [Chore] publish 환경 활성화
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/react-app/jest.config.ts
  frontend/react-app/package-lock.json
  frontend/react-app/package.json
  frontend/react-app/src/__tests__/pages/login.test.tsx
  frontend/react-app/src/components/common/navBar/container.tsx
  frontend/react-app/src/components/common/navBar/index.tsx
  frontend/react-app/src/components/dropdown/index.tsx
  frontend/react-app/src/components/modal/profile/container.tsx
  frontend/react-app/src/components/modal/profile/index.tsx
  frontend/react-app/src/hooks/useChatSocket/index.ts
  frontend/react-app/src/hooks/useGameSocket/index.tsx
  frontend/react-app/src/hooks/useInitializeState/index.tsx
  frontend/react-app/src/pages/auth/index.tsx
  frontend/react-app/src/pages/game/container.tsx
  frontend/react-app/src/pages/login/index.tsx
  frontend/react-app/src/pages/profile/container.tsx
  frontend/react-app/src/pages/profile/index.tsx
  frontend/react-app/src/pages/signUp/container.tsx
  nginx/Dockerfile
Labels: ⚙ Setting, 🖥️ Frontend
