Repository 42ft-transcendence/transcendence, pull requests merged in 2023-08, with the labels that each got.

#4 [Chore] 기본 개발환경 설정
  .env
  .gitignore
  Makefile
  backend/Dockerfile.dev
  backend/nestjs-app/.eslintrc.js
  backend/nestjs-app/.gitignore
  backend/nestjs-app/.prettierrc
  backend/nestjs-app/README.md
  backend/nestjs-app/nest-cli.json
  backend/nestjs-app/package-lock.json
  backend/nestjs-app/package.json
  backend/nestjs-app/src/app.controller.spec.ts
  backend/nestjs-app/src/app.controller.ts
  backend/nestjs-app/src/app.module.ts
  backend/nestjs-app/src/app.service.ts
  backend/nestjs-app/src/main.ts
  backend/nestjs-app/test/app.e2e-spec.ts
  backend/nestjs-app/test/jest-e2e.json
  backend/nestjs-app/tsconfig.build.json
  backend/nestjs-app/tsconfig.json
  docker-compose.dev.yml
  frontend/Dockerfile.dev
  frontend/react-app/.eslintrc.cjs
  frontend/react-app/.gitignore
  frontend/react-app/README.md
  frontend/react-app/index.html
  frontend/react-app/package-lock.json
  frontend/react-app/package.json
  frontend/react-app/public/vite.svg
  frontend/react-app/src/App.css
  frontend/react-app/src/App.tsx
  frontend/react-app/src/assets/react.svg
  frontend/react-app/src/index.css
  frontend/react-app/src/main.tsx
  frontend/react-app/src/vite-env.d.ts
  frontend/react-app/tsconfig.json
  frontend/react-app/tsconfig.node.json
  frontend/react-app/vite.config.ts
  nginx/Dockerfile.dev
  nginx/nginx.dev.conf
  share/profiles/profile0.svg
  share/profiles/profile1.svg
  share/profiles/profile2.svg
  share/profiles/profile3.svg
Labels: ⚙ Setting, 👩‍👦‍👦 Neet To Discuss

#6 [Chore] 개발 환경 세팅
  .github/ISSUE_TEMPLATE/--feature.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
  backend/nestjs-app/.eslintrc.js
  commitlint.config.js
  frontend/react-app/.eslintrc.cjs
  package-lock.json
  package.json
Labels: ⚙ Setting

#18 [Feat] 라우터 초기 설정 및 토큰 검사 컴포넌트 추가
  frontend/react-app/package-lock.json
  frontend/react-app/src/main.tsx
  frontend/react-app/src/router/PrivateRoute.tsx
  frontend/react-app/src/router/index.ts
  frontend/react-app/src/router/index.tsx
Labels: ✨ Feature, 🖥️ Frontend, 🙆‍♀️ Merge Needed

#24 [Feat] Theme, GlobalStyle 적용
  frontend/react-app/src/App.css
  frontend/react-app/src/index.css
  frontend/react-app/src/main.tsx
  frontend/react-app/src/styles/GlobalStyle.tsx
  frontend/react-app/src/styles/Theme.ts
  frontend/react-app/src/styles/styled-components.ts
Labels: ✨ Feature, 🖥️ Frontend

#25 [Feat] 로그인 페이지 개발
  docker-compose.dev.yml
  frontend/react-app/src/assets/logos/42_logo.svg
  frontend/react-app/src/assets/logos/ccpp_logo.png
  frontend/react-app/src/assets/logos/google_logo.svg
  frontend/react-app/src/pages/login/index.styled.ts
  frontend/react-app/src/pages/login/index.tsx
  frontend/react-app/src/router/index.tsx
Labels: ✨ Feature, 💄 Style, 🖥️ Frontend

#29 [Test] 프론트 테스트 환경 구축
  frontend/react-app/jest.config.ts
  frontend/react-app/package-lock.json
  frontend/react-app/package.json
  frontend/react-app/src/__test__/pages/Login.test.tsx
  frontend/react-app/src/assets/logos/ccpp_logo.png
  frontend/react-app/src/pages/login/index.tsx
  frontend/react-app/tsconfig.json
  frontend/react-app/vite.config.ts
  package.json
Labels: 👀 Review Needed, 🖥️ Frontend, 🧪 Test

#32 [Feat] auth page 개발
  frontend/react-app/src/api/index.ts
  frontend/react-app/src/pages/auth/index.styled.ts
  frontend/react-app/src/pages/auth/index.tsx
  frontend/react-app/src/router/index.tsx
  frontend/react-app/src/styles/GlobalStyle.tsx
  frontend/react-app/src/types/index.ts
Labels: ✨ Feature, 🖥️ Frontend

#37 2차인증 로직 추가
  frontend/react-app/src/pages/auth/index.styled.ts
  frontend/react-app/src/pages/auth/index.tsx
Labels: ✨ Feature, 🖥️ Frontend

#40 [Feat] 회원가입 페이지 개발
  backend/nestjs-app/src/users/users.service.ts
  frontend/react-app/package-lock.json
  frontend/react-app/package.json
  frontend/react-app/src/__tests__/components/inputBox.test.tsx
  frontend/react-app/src/api/index.ts
  frontend/react-app/src/components/buttons/index.styled.ts
  frontend/react-app/src/components/buttons/index.tsx
  frontend/react-app/src/components/inputBox/index.styled.ts
  frontend/react-app/src/components/inputBox/index.tsx
  frontend/react-app/src/main.tsx
  frontend/react-app/src/pages/auth/index.tsx
  frontend/react-app/src/pages/signUp/container.tsx
  frontend/react-app/src/pages/signUp/index.styled.ts
  frontend/react-app/src/pages/signUp/index.tsx
  frontend/react-app/src/pages/signUp/view.tsx
  frontend/react-app/src/recoil/atoms/common/index.ts
  frontend/react-app/src/router/index.tsx
  frontend/react-app/src/types/index.ts
  frontend/react-app/src/types/user.type.ts
  frontend/react-app/tsconfig.path.json
  frontend/react-app/vite.config.ts
  package.json
Labels: ✨ Feature, 💊 Refactor, 🖥️ Frontend

#39 Navbar 컴포넌트 작성
  frontend/react-app/src/assets/icons/ChatsBlue.svg
  frontend/react-app/src/assets/icons/GameControllerBlue.svg
  frontend/react-app/src/assets/icons/TrophyBlue.svg
  frontend/react-app/src/assets/icons/UsersBlue.svg
  frontend/react-app/src/components/common/navBar/index.styled.ts
  frontend/react-app/src/components/common/navBar/index.tsx
Labels: ✨ Feature, 🖥️ Frontend

#48 [Feat] chat socket
  frontend/react-app/src/hooks/sockets/chatSocket.ts
  frontend/react-app/src/pages/auth/index.tsx
  frontend/react-app/src/pages/login/index.tsx
  frontend/react-app/src/pages/signUp/container.tsx
Labels: ✨ Feature, 🖥️ Frontend

#52 [Refactor] 프로필 모달 리팩토링
  frontend/react-app/src/components/common/navBar/index.tsx
  frontend/react-app/src/components/common/sideBar/chattingSideBar/index.tsx
  frontend/react-app/src/components/modal/profile/BattleActionModal/index.styled.ts
  frontend/react-app/src/components/modal/profile/container.tsx
  frontend/react-app/src/components/modal/profile/data.tsx
  frontend/react-app/src/components/modal/profile/index.styled.ts
  frontend/react-app/src/components/modal/profile/index.tsx
  frontend/react-app/src/pages/login/index.tsx
  frontend/react-app/src/types/chat.type.ts
Labels: 💊 Refactor, 🖥️ Frontend

#57 [Feat] 페이지 제목 및 파비콘 적용
  docker-compose.dev.yml
  docker-compose.yml
  frontend/react-app/index.html
  share/images/favicon.ico
Labels: ⚡️ Simple, 🖥️ Frontend

#54 [Refactor] socket hoc 개발
  frontend/react-app/src/hooks/sockets/chatSocket.ts
  frontend/react-app/src/pages/auth/index.tsx
  frontend/react-app/src/pages/login/index.tsx
  frontend/react-app/src/pages/signUp/container.tsx
  frontend/react-app/src/router/index.tsx
  frontend/react-app/src/router/socket/chatSocket.ts
  frontend/react-app/src/router/socket/index.tsx
Labels: 💊 Refactor, 🖥️ Frontend

#58 [Feat] 새로운 페이지 추가
  frontend/react-app/jest.config.ts
  frontend/react-app/src/__mocks__/fileMock.ts
  frontend/react-app/src/assets/icons/ChatsDarkFreezePurple.svg
  frontend/react-app/src/assets/icons/GameControllerDarkFreezePurple.svg
  frontend/react-app/src/assets/icons/GearDarkFreezePurple.svg
  frontend/react-app/src/assets/icons/TrophyDarkFreezePurple.svg
  frontend/react-app/src/assets/icons/UserCircleDarkFreezePurple.svg
  frontend/react-app/src/assets/icons/UsersDarkFreezePurple.svg
  frontend/react-app/src/assets/icons/medal_bronze.svg
  frontend/react-app/src/assets/icons/medal_gold.svg
  frontend/react-app/src/assets/icons/medal_silver.svg
  frontend/react-app/src/components/buttons/index.styled.ts
  frontend/react-app/src/components/common/navBar/container.tsx
  frontend/react-app/src/components/common/navBar/index.tsx
  frontend/react-app/src/components/common/sideBar/chattingSideBar/index.tsx
  frontend/react-app/src/components/common/sideBar/index.styled.ts
  frontend/react-app/src/components/common/sideBar/profileSideBar/index.styled.ts
  frontend/react-app/src/components/common/sideBar/profileSideBar/index.tsx
  frontend/react-app/src/components/common/sideBar/rankingSideBar/containers.tsx
  frontend/react-app/src/components/common/sideBar/rankingSideBar/index.styled.ts
  frontend/react-app/src/components/common/sideBar/rankingSideBar/index.tsx
  frontend/react-app/src/components/common/sideBar/userListSideBar/index.tsx
  frontend/react-app/src/components/modal/profile/BattleActionModal/index.styled.ts
  frontend/react-app/src/components/modal/profile/container.tsx
  frontend/react-app/src/components/modal/profile/data.tsx
  frontend/react-app/src/components/modal/profile/index.styled.ts
  frontend/react-app/src/components/modal/profile/index.tsx
  frontend/react-app/src/pages/index.styled.ts
  frontend/react-app/src/pages/index.ts
  frontend/react-app/src/pages/login/index.tsx
  frontend/react-app/src/pages/ranking/container.tsx
  frontend/react-app/src/pages/ranking/index.styled.ts
  frontend/react-app/src/pages/ranking/index.tsx
  frontend/react-app/src/pages/userList/container.tsx
  frontend/react-app/src/pages/userList/index.styled.ts
  frontend/react-app/src/pages/userList/index.tsx
  frontend/react-app/src/recoil/atoms/common/data.ts
  frontend/react-app/src/recoil/atoms/common/index.ts
  frontend/react-app/src/types/chat.type.ts
  frontend/react-app/src/types/user.type.ts
  frontend/react-app/src/utils/index.ts
  frontend/react-app/svgTransform.ts
Labels: ⏳ Holding, ✨ Feature, 💻 Developing, 🖥️ Frontend

#67 [Feat] channel list page
  frontend/react-app/src/components/channel/channelListItem/index.styled.ts
  frontend/react-app/src/components/channel/channelListItem/index.tsx
  frontend/react-app/src/components/channel/channelSearchItem/index.styled.ts
  frontend/react-app/src/components/channel/channelSearchItem/index.tsx
  frontend/react-app/src/components/common/searchBar/index.styled.ts
  frontend/react-app/src/components/common/searchBar/index.tsx
  frontend/react-app/src/components/common/searchList/index.styled.ts
  frontend/react-app/src/components/common/searchList/index.tsx
  frontend/react-app/src/components/common/sidaBarList/index.styled.ts
  frontend/react-app/src/components/common/sidaBarList/index.tsx
  frontend/react-app/src/components/common/sideBar/chattingSideBar/index.tsx
  frontend/react-app/src/components/directMessage/directMessageListItem/index.styled.ts
  frontend/react-app/src/components/directMessage/directMessageListItem/index.tsx
  frontend/react-app/src/pages/channelList/container.tsx
  frontend/react-app/src/pages/channelList/index.tsx
  frontend/react-app/src/pages/channelList/view.tsx
  frontend/react-app/src/recoil/atoms/channel/index.ts
  frontend/react-app/src/recoil/atoms/directMessage/index.ts
  frontend/react-app/src/router/index.tsx
  frontend/react-app/src/types/directMessage.type.ts
  frontend/react-app/src/types/index.ts
Labels: ✨ Feature, 🖥️ Frontend

#79 Feat/#68/channel modals
  frontend/react-app/src/api/chatting.ts
  frontend/react-app/src/api/index.ts
  frontend/react-app/src/api/participants.ts
  frontend/react-app/src/components/channel/channelListItem/index.tsx
  frontend/react-app/src/components/channel/channelSearchItem/index.tsx
  frontend/react-app/src/components/common/sideBar/chattingSideBar/index.tsx
  frontend/react-app/src/components/common/sideBarList/index.styled.ts
  frontend/react-app/src/components/common/sideBarList/index.tsx
  frontend/react-app/src/components/directMessage/directMessageListItem/index.tsx
  frontend/react-app/src/components/modal/channel/channelCreateModal/index.styled.ts
  frontend/react-app/src/components/modal/channel/channelCreateModal/index.tsx
  frontend/react-app/src/components/modal/channel/channelJoinModal/index.styled.ts
  frontend/react-app/src/components/modal/channel/channelJoinModal/index.tsx
  frontend/react-app/src/pages/channelList/container.tsx
  frontend/react-app/src/pages/channelList/view.tsx
  frontend/react-app/src/recoil/atoms/modal/index.ts
  frontend/react-app/src/types/chat.type.ts
  frontend/react-app/src/types/participant.type.ts
Labels: ✨ Feature, 🖥️ Frontend

#83 Front/#10/chore/front setting
  frontend/react-app/src/api/chatting.ts
  frontend/react-app/src/api/index.ts
  frontend/react-app/src/api/participants.ts
  frontend/react-app/src/components/channel/channelListItem/index.styled.ts
  frontend/react-app/src/components/channel/channelListItem/index.tsx
  frontend/react-app/src/components/channel/channelSearchItem/index.styled.ts
  frontend/react-app/src/components/channel/channelSearchItem/index.tsx
  frontend/react-app/src/components/common/searchBar/index.styled.ts
  frontend/react-app/src/components/common/searchBar/index.tsx
  frontend/react-app/src/components/common/searchList/index.styled.ts
  frontend/react-app/src/components/common/searchList/index.tsx
  frontend/react-app/src/components/common/sideBar/chattingSideBar/index.tsx
  frontend/react-app/src/components/common/sideBarList/index.styled.ts
  frontend/react-app/src/components/common/sideBarList/index.tsx
  frontend/react-app/src/components/directMessage/directMessageListItem/index.styled.ts
  frontend/react-app/src/components/directMessage/directMessageListItem/index.tsx
  frontend/react-app/src/components/modal/channel/channelCreateModal/index.styled.ts
  frontend/react-app/src/components/modal/channel/channelCreateModal/index.tsx
  frontend/react-app/src/components/modal/channel/channelJoinModal/index.styled.ts
  frontend/react-app/src/components/modal/channel/channelJoinModal/index.tsx
  frontend/react-app/src/components/modal/profile/BattleActionModal/index.styled.ts
  frontend/react-app/src/pages/channelList/container.tsx
  frontend/react-app/src/pages/channelList/index.tsx
  frontend/react-app/src/pages/channelList/view.tsx
  frontend/react-app/src/recoil/atoms/channel/index.ts
  frontend/react-app/src/recoil/atoms/directMessage/index.ts
  frontend/react-app/src/recoil/atoms/modal/index.ts
  frontend/react-app/src/router/index.tsx
  frontend/react-app/src/types/chat.type.ts
  frontend/react-app/src/types/directMessage.type.ts
  frontend/react-app/src/types/index.ts
  frontend/react-app/src/types/participant.type.ts
Labels: ✨ Feature, 🖥️ Frontend

#87 [Feat] channel 페이지, dm 페이지 추가
  backend/nestjs-app/src/chatting/chatting.gateway.ts
  backend/nestjs-app/src/chatting/chatting.module.ts
  backend/nestjs-app/src/dm/directmessage.controller.ts
  backend/nestjs-app/src/dm/directmessage.service.ts
  backend/nestjs-app/src/dm/repository/directmessage.repository.ts
  backend/nestjs-app/src/participants/participants.controller.ts
  backend/nestjs-app/src/participants/participants.service.ts
  backend/nestjs-app/src/relationship/relationship.service.ts
  frontend/react-app/src/api/dm.ts
  frontend/react-app/src/assets/icons/UserPlus.svg
  frontend/react-app/src/assets/images/ChatBubbleTailMy.svg
  frontend/react-app/src/assets/images/ChatBubbleTailOther.svg
  frontend/react-app/src/assets/images/chat-bubble-tail-mine.svg
  frontend/react-app/src/assets/images/chat-bubble-tail-other.svg
  frontend/react-app/src/components/channel/channelSearchItem/index.styled.ts
  frontend/react-app/src/components/channel/channelSearchItem/index.tsx
  frontend/react-app/src/components/chat/chatBubble/index.styled.ts
  frontend/react-app/src/components/chat/chatBubble/index.tsx
  frontend/react-app/src/components/chat/chatInput/index.styled.ts
  frontend/react-app/src/components/chat/chatInput/index.tsx
  frontend/react-app/src/components/chat/chatList/index.styled.ts
  frontend/react-app/src/components/chat/chatList/index.tsx
  frontend/react-app/src/components/chat/chatListItem/index.styled.ts
  frontend/react-app/src/components/chat/chatListItem/index.tsx
  frontend/react-app/src/components/common/sideBar/chattingSideBar/index.tsx
  frontend/react-app/src/components/common/sideBarList/index.styled.ts
  frontend/react-app/src/components/common/sideBarList/index.tsx
  frontend/react-app/src/components/directMessage/directMessageListItem/index.styled.ts
  frontend/react-app/src/components/directMessage/directMessageListItem/index.tsx
  frontend/react-app/src/components/modal/channel/channelCreateModal/index.styled.ts
  frontend/react-app/src/components/modal/channel/channelCreateModal/index.tsx
  frontend/react-app/src/pages/auth/index.tsx
  frontend/react-app/src/pages/channel/container.tsx
  frontend/react-app/src/pages/channel/index.tsx
  frontend/react-app/src/pages/channel/view.tsx
  frontend/react-app/src/pages/directMessage/container.tsx
  frontend/react-app/src/pages/directMessage/index.tsx
  frontend/react-app/src/pages/directMessage/view.tsx
  frontend/react-app/src/recoil/atoms/channel/index.ts
  frontend/react-app/src/recoil/atoms/directMessage/index.ts
  frontend/react-app/src/router/index.tsx
  frontend/react-app/src/router/socket/index.tsx
  frontend/react-app/src/types/channel.type.ts
  frontend/react-app/src/types/chat.type.ts
  frontend/react-app/src/types/directMessage.type.ts
  frontend/react-app/src/types/index.ts
Labels: ✨ Feature, 🔧 Fix, 🖥️ Frontend, 🗄️ Backend

#89 [Design] 전체 디자인 수정
  frontend/react-app/src/components/common/navBar/index.styled.ts
  frontend/react-app/src/components/common/sideBar/index.styled.ts
  frontend/react-app/src/main.tsx
Labels: ⚡️ Simple, 🖥️ Frontend

#96 [Feat] 프로필 페이지 구현
  backend/nestjs-app/src/users/createDummyUsers.ts
  backend/nestjs-app/src/users/repository/user.repository.ts
  backend/nestjs-app/src/users/users.controller.ts
  backend/nestjs-app/src/users/users.service.ts
  frontend/react-app/src/api/index.ts
  frontend/react-app/src/api/relationship.ts
  frontend/react-app/src/api/user.ts
  frontend/react-app/src/components/common/navBar/container.tsx
  frontend/react-app/src/components/common/navBar/index.tsx
  frontend/react-app/src/components/common/sideBar/gameSideBar/index.tsx
  frontend/react-app/src/components/common/sideBar/index.tsx
  frontend/react-app/src/components/common/sideBar/profileSideBar/index.tsx
  frontend/react-app/src/components/common/sideBar/userListSideBar/index.tsx
  frontend/react-app/src/components/dropdown/index.styled.ts
  frontend/react-app/src/components/dropdown/index.tsx
  frontend/react-app/src/components/modal/game/BattleActionModal/index.styled.ts
  frontend/react-app/src/components/modal/game/BattleActionModal/index.tsx
  frontend/react-app/src/components/modal/game/gameCreateModal.tsx
  frontend/react-app/src/components/modal/game/index.styled.ts
  frontend/react-app/src/components/modal/profile/container.tsx
  frontend/react-app/src/pages/gameList/index.tsx
  frontend/react-app/src/pages/login/index.tsx
  frontend/react-app/src/pages/profile/container.tsx
  frontend/react-app/src/pages/profile/index.styled.ts
  frontend/react-app/src/pages/profile/index.tsx
  frontend/react-app/src/pages/userList/container.tsx
  frontend/react-app/src/pages/userList/index.styled.ts
  frontend/react-app/src/recoil/atoms/common/game.ts
  frontend/react-app/src/recoil/atoms/game/createDummyHistory.ts
  frontend/react-app/src/recoil/atoms/game/index.ts
  frontend/react-app/src/recoil/atoms/modal/index.ts
  frontend/react-app/src/router/socket/gameSocket.ts
  frontend/react-app/src/router/socket/index.tsx
  frontend/react-app/src/styles/Theme.ts
  frontend/react-app/src/types/game.type.ts
Labels: ✨ Feature, 🖥️ Frontend

#97 Feat/gateway
  backend/nestjs-app/src/game/game.gateway.ts
  backend/nestjs-app/src/game/game.module.ts
  backend/nestjs-app/src/match_history/history.service.ts
  backend/nestjs-app/src/match_history/repository/history.repository.ts
Labels: ✨ Feature, 🔧 Fix, 🗄️ Backend
